:root {
  --White: #FFFFFF;
  --Slate-300: #D5E1EF;
  --Slate-500: #68778D;
  --Slate-900: #1F314F;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "Outfit", sans-serif;
}

.qr-card {
display: flex;
flex-direction: column;
}

.qr-card__image {
  width: 50px;
}

.footer {
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
}