:root {
  --White: #FFFFFF;
  --Slate-300: #D5E1EF;
  --Slate-500: #68778D;
  --Slate-900: #1F314F;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "Outfit", sans-serif;
  background-color: var(--Slate-300);
  height: 100%;
}

body {
  display: grid;
  grid-template-rows: 1fr auto;
  height: 100%;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}
.qr-card {
display: flex;
flex-direction: column;
width: 320px;
height: 499px;
padding: 16px 16px 0 16px;
border-radius: 20px;
align-items: center;
justify-content: center;
background-color: var(--White);
}

.qr-card__image {
  width: 288px;
  height: 288px;
  border-radius: 10px;
}

.text-container {
  text-align: center;
  padding: 0 16px;
  margin-top: 24px;
  margin-bottom: 40px;
}

.text-container h1 {
  color: var(--Slate-900);
  padding-bottom: 16px;
  font-size: 2.2rem;
}

.text-container p {
  color: var(--Slate-500);
  font-size: 1.5rem;
  letter-spacing: 0.2px;
}

.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
  background-color: var(--Slate-900);
  color: var(--Slate-300);
}